@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}



